.searchInput {
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 6px;
  min-width: 300px;
  border: 0cap;
}

.header {
  /* position: fixed;
  top: 0; */
  z-index: 10;
  width: 100%;
  min-height: 70px;
  background-color: MidnightBlue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchForm {
  display: flex;
  gap: 20px;
}
.searchBtn {
  color: white;
  background-color: RoyalBlue;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  cursor: pointer;
}
.searchBtn:hover {
  background-color: CornflowerBlue;
}
