.LoadMoreBtn {
  /* position: relative;
  top: 80px; */
  color: white;
  background-color: RoyalBlue;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 16px;
}
.LoadMoreBtn:hover {
  background-color: CornflowerBlue;
}
